<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
		<style>
		.container {
			padding-top: 15px;
		}
		</style>
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<div class='col-md-12'>
								<form class='form-horizontal' id='addFrm'>
									<div class='form-group'>
										<label for='addFrm_btn_choose' class='col-sm-1 control-label'>图片上传</label>
										<div class='col-sm-11'>
											<input type='button' class='btn btn-default btn-sm' id='addFrm_btn_choose' value='选择文件' />
										</div>
									</div>
									<div class='form-group'>
										<div class='col-sm-offset-1 col-sm-4'>
											<input type='button' class='btn btn-primary' id='addFrm_btn_ok' value='保 存' />
										</div>
									</div>
								</form>
			                </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('front/_pagelet/Common.IndexJs.html')
		<script>
		function openShowModalDialog(window, url, height, width, params){
			params = params || {};

			height = height || 300;
			width = width || 500;

			// 最终位置
			var left = ($(window).width() - width) / 2;
			var top = ($(window).height() - height) / 2;

			var param_3 = 'dialogWidth:'+ width +'px;';
				param_3 += 'dialogHeight:'+ height +'px;';
				param_3 += 'dialogLeft:'+ left +'px;';
				param_3 += 'dialogTop:'+ top +'px;';
				param_3 += 'center:yes;';
				param_3 += 'help:yes;';
				param_3 += 'resizable:yes;';
				param_3 += 'status:no';

			var result = showModalDialog(url, params, param_3);
			return result;
		}

		$(function(){
			$('#addFrm_btn_choose').click(function(){
				var url = '/upload/';
					url += '?apikey=$!data.apiParams.apikey';
					url += '&command=$!data.apiParams.command';
					url += '&ts=$!data.apiParams.ts';
					url += '&userid=$!data.apiParams.userid';
					url += '&signature=$!data.apiParams.signature';
				var result = openShowModalDialog(window, url, 300, 500, {});
				console.log(result);
			});

			$('#addFrm_btn_ok').click(function(){
				// TODO
			});
		});
		</script>
	</body>
</html>