<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='$!{conf.html.static_res}assets/js/uploadify/3.2.1/uploadify.css'>
		<style>
		.container {
			padding-top: 15px;
		}
		.uploadify-button {
			white-space: nowrap;
			color: #fff;
			border: 1px solid transparent;
			border-radius: 4px;
			font-weight: 400;
			background-color: #428bca;
			border-color: #2b669a;
			background-repeat: repeat-x;
			background-image: linear-gradient(to bottom, #428bca 0px, #2d6ca2 100%);
		}
		.uploadify-queue-item .cancel a {
			background: url('$!{conf.html.static_res}assets/js/uploadify/3.2.1/uploadify-cancel.png') 0 0 no-repeat;
		}
		</style>
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<div class='col-md-12'>
								<form class='form-horizontal'>
									<div class='form-group'>
										<label for='upFrm_file_Choose' class='col-sm-1 control-label'>文件上传</label>
										<div class='col-sm-11'>
											<input type='file' class='form-control' id='upFrm_file_Choose' name='Choose' placeholder='选择' multiple='true'>
										</div>
									</div>
									<div class='form-group'>
										<div class='col-sm-offset-1 col-sm-4'>
											<input type='button' class='btn btn-primary' id='upFrm_btn_upload' value='上 传' />
										</div>
									</div>
								</form>
			                </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('front/_pagelet/Common.IndexJs.html')
		<script type='text/javascript' src='$!{conf.html.static_res}assets/js/uploadify/3.2.1/jquery.uploadify.min.js'></script>
		<script>
		#*// function formatSize(size){
		// 	return size/1024 +' kb';
		// }
		// function choose_file(src){
		// 	var upFrm_File = document.getElementById('upFrm_File');
		// 	upFrm_File.value = src.value;
		// 	if(src.files && 1 === src.files.length){
		// 		var file = src.files[0];
		// 		upFrm_File.value = upFrm_File.value +' ('+ formatSize(file.size) +')';
		// 	}
		// }*#
		$(function(){
			var apiParams = {
				apikey: '$!data.apiParams.apikey',
				command: '$!data.apiParams.command',
				ts: '$!data.apiParams.ts',
				userid: '$!data.apiParams.userid',
				signature: '$!data.apiParams.signature'
			};

			$('#upFrm_file_Choose').uploadify({
				debug: !1,
				queueSizeLimit: 5,
				buttonCursor: 'arrow',
				requeueErrors: !0,
				fileSizeLimit: '10KB',
				method: 'get',
				auto: !1,
				fileTypeExts: '*.doc;*.docx;*.jpg',
				fileTypeDesc: '图片',
				multi: !0,
				swf: '$!{conf.html.static_res}assets/js/uploadify/3.2.1/uploadify.swf',
				buttonText: '选择文件',
				uploader: '/api',
				overrideEvents: ['onDialogClose', 'onUploadSuccess', 'onUploadError', 'onSelectError'],
				onSelect: function(){
					// TODO
				}, onSelectError: function(file, errorCode, errorMsg){
					alert('《'+ file.name.substring(0, (file.name.length - file.type.length)) +'》的大小超出限制');
				}, onUploadError: function(){
					// TODO
				}, onUploadStart: function(){
					$('#upFrm_file_Choose').uploadify('settings', 'formData', apiParams);
				}, onUploadSuccess: function(file, data, response){
					if(!response) return;
					var obj = JSON.parse(data);
					if(!obj.success) return;
					// TODO
					returnData.push(obj.data);
				}
			});

			$('#upFrm_btn_upload').click(function(){
				$('#upFrm_file_Choose').uploadify('upload', '*');
			});
		});
		// TODO
		var returnData = [];
		window.onbeforeunload = function(){
			window.returnValue = {
				success: !0,
				data: returnData
			};
		};
		</script>
	</body>
</html>